[submodule "site/pack/xpire/start/vim-airline"]
	path = site/pack/xpire/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "site/pack/xpire/start/vim-which-key"]
	path = site/pack/xpire/start/vim-which-key
	url = git@github.com:liuchengxu/vim-which-key.git
